---
title: "Stateless Verification"
tags: ["section"]
---

[[documents/mastering-bitcoin-2ndpdf/index|⬅️ Back to Document]]

# Stateless Verification

## 🔗 Related Connections

- **HAS_CHILD**: [[Mastering Bitcoin 2nd.pdf]]
- **NEXT_SIBLING**: [[Turing Incompleteness]]
- **NEXT_SIBLING**: [[Standard Transactions]]
